<div class="container"></div>


<div class="container mt-5">
    <table class="table">
        <thead>
            <th scope="col"> Booking Credentials Name</th>
            <th scope="col"> Credential Value</th>
        </thead>
        <tbody>
            <tr>
                <td>Booked Camp ID</td>
                <td>{{data.bookedCampId}}</td>
            </tr>
            <tr>
                <td>Check-In Date</td>
                <td>{{data.checkInDate}}</td>
            </tr>
            <tr>
                <td>Check-Out Date</td>
                <td>{{data.checkOutDate}}</td>
            </tr>
            <tr>
                <td>No of Days Stayed</td>
                <td>{{data.totalStay}}</td>
            </tr>
            <tr>
                <td>Total Amount</td>
                <td>{{data.totalAmount}}</td>
            </tr>
            <tr>
                <td>Billing Address</td>
                <td>{{data.billaddress}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{data.state}}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{data.country}}</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>{{data.cellphone}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-12 text-center">
    <button type="button" class="btn btn-danger" (click)="deleteBooking()">Cancel Booking</button>
</div>




<div class="col-md-12 text-center">
    <button type="button" *ngIf="isBookingPassed()" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#form">Add Rating To Camp ☆
    </button>
</div>


<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Liked the Service? Rate Us</h2>
            </div>
            <!-- <div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div> -->
            <div class="modal-body text-center"> 
                <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
                <form class="form comment-box text-center">
                    <!-- <h4>Add a comment</h4> -->
                    <fieldset class="rating">
                        <input type="radio" name="rating" value="5" id="5">
                        <label for="5" (click)="onclick(5)">☆</label>
                        <input type="radio" name="rating" value="4" id="4">
                        <label for="4" (click)="onclick(4)">☆</label> 
                        <input type="radio" name="rating" value="3" id="3">
                        <label for="3" (click)="onclick(3)">☆</label> 
                        <input type="radio" name="rating" value="2" id="2">
                        <label for="2" (click)="onclick(2)">☆</label> 
                        <input type="radio" name="rating" value="1" id="1">
                        <label for="1" (click)="onclick(1)">☆</label> 
                    </fieldset>
                    

                    <div class="text-center mt-4"> 
                        <button class="btn btn-success send px-5" (click)="submitRating()">Submit Rating <i class="fa fa-long-arrow-right ml-1"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


